<h2>Create a Movie</h2>
<%= form_for @movie, remote: true do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create Movie" %>
<% end %>
<hr>
<table border="1" style="width:100%" id='movie-table'>
  <tr>
    <th>Movie ID</th>
    <th>Name</th>
    <th>Release Date</th>
  </tr>
  <tr>
    <td>1</td>
    <td>some movie #1</td>
    <td>12/31/2010</td>
  </tr>
  <tr>
    <td>2</td>
    <td>some movie #2</td>
    <td>3/15/2013</td>
  </tr>
</table>

<hr>

<table border="1" style="width:100%" id='reviews-table'>
  <tr>
    <th>Review ID</th>
    <th>Movie ID</th>
    <th>Reviewer Name</th>
    <th>Review Title</th>
    <th>Review Text</th>
    <th>Review Date</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>someone</td>
    <td>cool review title</td>
    <td>Review Text</td>
    <td>03/16/2012</td>

  </tr>
  <tr>
    <td>2</td>
    <td>2</td>
    <td>someone else</td>
    <td>ok review title</td>
    <td>Review Text cool effects</td>
    <td>03/16/2013</td>
  </tr>
</table>


<script>
  $(document).ready(function(){
    movieObj.getMovies();
  });
</script>